.carousel-image {
    width: 1580px; /* Defina a largura padrão para as imagens */
    height: 810px; /* Defina a altura padrão para as imagens */
    object-fit: cover; /* Isso garante que a imagem cubra todo o espaço especificado, mantendo a proporção */
    margin: 0 auto; /* Centraliza horizontalmente */

  }

p{
    display: flex;
    align-items: center;
    justify-content: center;
}

  /* Estilo para os botões de navegação */
.slick-prev,
.slick-next {
  position: absolute; /* Define a posição absoluta para os botões */
  top: 50%; /* Posiciona os botões verticalmente no meio */
  transform: translateY(-50%); /* Centraliza verticalmente */
  z-index: 1; /* Garante que os botões estejam acima das imagens */
}

/* Estilo para o botão de navegação anterior */
.slick-prev {
  left: 30px; /* Posiciona o botão à esquerda */
}

/* Estilo para o botão de navegação seguinte */
.slick-next {
  right: 30px; /* Posiciona o botão à direita */
}

  @media (max-width: 767px) {
    .carousel-image {
      width: 300px; /* Mantenha a mesma largura para telas menores (celulares) */
      height: 200px; /* Mantenha a mesma altura para telas menores (celulares) */
      
    }

    .slick-prev {
        left: 10px; /* Posiciona o botão à esquerda */
      }
      
      /* Estilo para o botão de navegação seguinte */
      .slick-next {
        right: 10px; /* Posiciona o botão à direita */
      }
  }
    
  /* Media query para telas menores que 768px (celulares) */

